<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taylor Swift</title>
    
    <style>
        body {
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            font-style: bold;
        }
    </style>

</head>
<body>
    <h1>Taylor Swift</h1>
    <h4>Nome completo: <%= nomeTS %></h4>
    <h4>Idade: <%= idadeTS %></h4>
    <h4>Quantidade de álbuns: <%= quantidade %></h4>
<br>
    <h4>veja informações sobre dois álbuns dela:</h4>
    <a href="/folklore">folklore</a>
    <a href="/evermore">evermore</a>

</body>
</html>